nodered.json
[
    {
        "id": "fa794911e10c1988",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11532ed1cbec896d",
        "type": "group",
        "z": "fa794911e10c1988",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "83ae4a599b5b3616",
            "7946627d60c4898d",
            "cbfc6d280d126c92",
            "e60f07be980460b3",
            "f54ec8a8d6da0e3b"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 182
    },
    {
        "id": "e78de1bb20cb8481",
        "type": "group",
        "z": "fa794911e10c1988",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "97111b5eb42ebfed",
            "7bada4e6a2790b41",
            "ea0a48621b36c418",
            "23e0c6991f6c0c90",
            "d76e294f706772e1",
            "b13a095b258a2660",
            "3ec674becc102e20"
        ],
        "x": 34,
        "y": 239,
        "w": 852,
        "h": 222
    },
    {
        "id": "1bcb175c9d68065e",
        "type": "group",
        "z": "fa794911e10c1988",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "3a9a4e9ceebc188e",
            "73c952417d446b06",
            "700aa7603ca694d4",
            "a88dee9b2e6a9a78",
            "c25af76caee4ed65",
            "0b0ecc9d4e8569f7",
            "44722ba5bf029b93"
        ],
        "x": 34,
        "y": 499,
        "w": 772,
        "h": 182
    },
    {
        "id": "97111b5eb42ebfed",
        "type": "mqtt out",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "",
        "topic": "cofre/acesso",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "7bada4e6a2790b41",
        "type": "debug",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "83ae4a599b5b3616",
        "type": "mqtt in",
        "z": "fa794911e10c1988",
        "g": "11532ed1cbec896d",
        "name": "",
        "topic": "cofre/historico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a4765f07d466fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "cbfc6d280d126c92"
            ]
        ]
    },
    {
        "id": "cbfc6d280d126c92",
        "type": "function",
        "z": "fa794911e10c1988",
        "g": "11532ed1cbec896d",
        "name": "formatação historico",
        "func": "if (!flow.get('historico')) {\n    flow.set('historico', []);\n}\n\nif (msg.payload == \"Acesso Negado\") {\n    msg.payload = {\n        \"Acesso\": \"Acesso Negado\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n} else {\n    msg.payload = {\n        \"Acesso\": \"Acesso Concedido\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n}\n\nvar historico = flow.get('historico');\nhistorico.push(msg.payload);\nflow.set('historico', historico);\n\nreturn { payload: historico };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "e60f07be980460b3",
                "7946627d60c4898d"
            ]
        ]
    },
    {
        "id": "e60f07be980460b3",
        "type": "debug",
        "z": "fa794911e10c1988",
        "g": "11532ed1cbec896d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "73c952417d446b06",
        "type": "mqtt out",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "",
        "topic": "cofre/senha",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "3a9a4e9ceebc188e",
        "type": "ui_form",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "",
        "label": "",
        "group": "fee1a7361766ef33",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Definir nova senha",
                "value": "novaSenha",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "novaSenha": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "0b0ecc9d4e8569f7",
                "700aa7603ca694d4",
                "44722ba5bf029b93"
            ]
        ],
        "info": "oiiiiiiiiiiiiiii"
    },
    {
        "id": "700aa7603ca694d4",
        "type": "debug",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "a88dee9b2e6a9a78",
        "type": "comment",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "Grupo Nova senha",
        "info": "",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "ea0a48621b36c418",
        "type": "comment",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "Grupo Bloqueio Desbloqueio",
        "info": "",
        "x": 180,
        "y": 420,
        "wires": []
    },
    {
        "id": "f54ec8a8d6da0e3b",
        "type": "comment",
        "z": "fa794911e10c1988",
        "g": "11532ed1cbec896d",
        "name": "Grupo Historico",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "23e0c6991f6c0c90",
        "type": "ui_button",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "",
        "group": "a45010db781a9042",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "97111b5eb42ebfed",
                "7bada4e6a2790b41",
                "3ec674becc102e20"
            ]
        ]
    },
    {
        "id": "d76e294f706772e1",
        "type": "ui_button",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "",
        "group": "a45010db781a9042",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "DESBLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "7bada4e6a2790b41",
                "97111b5eb42ebfed",
                "3ec674becc102e20"
            ]
        ]
    },
    {
        "id": "b13a095b258a2660",
        "type": "ui_toast",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "3ec674becc102e20",
        "type": "function",
        "z": "fa794911e10c1988",
        "g": "e78de1bb20cb8481",
        "name": "notificacão Bloqueio/Desbloqueio",
        "func": "if (msg.payload == \"ON\"){\n    msg.payload = \"COFRE DESBLOQUEADO\"\n} else {\n    msg.payload = \"COFRE BLOQUEADO\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "b13a095b258a2660",
                "7bada4e6a2790b41"
            ]
        ]
    },
    {
        "id": "c25af76caee4ed65",
        "type": "ui_toast",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "0b0ecc9d4e8569f7",
        "type": "function",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "notificacão senha",
        "func": "if (msg.payload && msg.payload.novaSenha != null){\n    msg.payload = \"Senha Alterada\"\n} else {\n    msg.payload = \"A senha não pode ser vazia\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "c25af76caee4ed65",
                "700aa7603ca694d4"
            ]
        ]
    },
    {
        "id": "7946627d60c4898d",
        "type": "ui_table",
        "z": "fa794911e10c1988",
        "g": "11532ed1cbec896d",
        "group": "ed5f5d0cc20c9c48",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "44722ba5bf029b93",
        "type": "function",
        "z": "fa794911e10c1988",
        "g": "1bcb175c9d68065e",
        "name": "verifica senha",
        "func": "if (msg.payload.novaSenha == null) {\n    msg.payload = 13\n} else {\n    msg.payload = msg.payload.novaSenha\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "73c952417d446b06",
                "700aa7603ca694d4"
            ]
        ]
    },
    {
        "id": "2a4765f07d466fd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fee1a7361766ef33",
        "type": "ui_group",
        "name": "Definir nova senha",
        "tab": "feae15c3531b11d1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a45010db781a9042",
        "type": "ui_group",
        "name": "Bloquear/Desbloquear Cofre",
        "tab": "feae15c3531b11d1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed5f5d0cc20c9c48",
        "type": "ui_group",
        "name": "Historico",
        "tab": "feae15c3531b11d1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feae15c3531b11d1",
        "type": "ui_tab",
        "name": "Cofre Painel de Controle",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
