nodered.json
[
    {
        "id": "2582f6e27304127c",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac649aa3d069596b",
        "type": "group",
        "z": "2582f6e27304127c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0efc73e04cbea09c",
            "8e0b592512cc1bbe",
            "94d808de12330a80",
            "6d6ebf37aa3edfe7",
            "f4d641e6f4b14942"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 182
    },
    {
        "id": "4ce7be26c8572605",
        "type": "group",
        "z": "2582f6e27304127c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "62d1f681c343c1cb",
            "6b4521dcb6b6f564",
            "962b6eef39573d26",
            "a54a7bf78f8d77ef",
            "81aa3b01e9eb5886",
            "e348fb458240c771",
            "e7b9d98b2f199deb"
        ],
        "x": 34,
        "y": 239,
        "w": 852,
        "h": 222
    },
    {
        "id": "aa510fc7a207367f",
        "type": "group",
        "z": "2582f6e27304127c",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "887d9153a43618d5",
            "84681ae2ae5c3e71",
            "2bd4f44bd4884b60",
            "8e825c85ea3f84f9",
            "9b5c47fa3a33329e",
            "9e8067e801227664",
            "95a4bbb201d44b6f"
        ],
        "x": 34,
        "y": 499,
        "w": 772,
        "h": 182
    },
    {
        "id": "62d1f681c343c1cb",
        "type": "mqtt out",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "",
        "topic": "cofre/acesso",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "6b4521dcb6b6f564",
        "type": "debug",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "0efc73e04cbea09c",
        "type": "mqtt in",
        "z": "2582f6e27304127c",
        "g": "ac649aa3d069596b",
        "name": "",
        "topic": "cofre/historico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a4765f07d466fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "94d808de12330a80"
            ]
        ]
    },
    {
        "id": "94d808de12330a80",
        "type": "function",
        "z": "2582f6e27304127c",
        "g": "ac649aa3d069596b",
        "name": "formatação historico",
        "func": "if (!flow.get('historico')) {\n    flow.set('historico', []);\n}\n\nif (msg.payload == \"Acesso Negado\") {\n    msg.payload = {\n        \"Acesso\": \"Acesso Negado\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n} else {\n    msg.payload = {\n        \"Acesso\": \"Acesso Concedido\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n}\n\nvar historico = flow.get('historico');\nhistorico.push(msg.payload);\nflow.set('historico', historico);\n\nreturn { payload: historico };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "6d6ebf37aa3edfe7",
                "8e0b592512cc1bbe"
            ]
        ]
    },
    {
        "id": "6d6ebf37aa3edfe7",
        "type": "debug",
        "z": "2582f6e27304127c",
        "g": "ac649aa3d069596b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "84681ae2ae5c3e71",
        "type": "mqtt out",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "",
        "topic": "cofre/senha",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "887d9153a43618d5",
        "type": "ui_form",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "",
        "label": "",
        "group": "fee1a7361766ef33",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Definir nova senha",
                "value": "novaSenha",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "novaSenha": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "9e8067e801227664",
                "2bd4f44bd4884b60",
                "95a4bbb201d44b6f"
            ]
        ],
        "info": "oiiiiiiiiiiiiiii"
    },
    {
        "id": "2bd4f44bd4884b60",
        "type": "debug",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "8e825c85ea3f84f9",
        "type": "comment",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "Grupo Nova senha",
        "info": "",
        "x": 690,
        "y": 540,
        "wires": []
    },
    {
        "id": "962b6eef39573d26",
        "type": "comment",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "Grupo Bloqueio Desbloqueio",
        "info": "",
        "x": 180,
        "y": 420,
        "wires": []
    },
    {
        "id": "f4d641e6f4b14942",
        "type": "comment",
        "z": "2582f6e27304127c",
        "g": "ac649aa3d069596b",
        "name": "Grupo Historico",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "a54a7bf78f8d77ef",
        "type": "ui_button",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "",
        "group": "a45010db781a9042",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "62d1f681c343c1cb",
                "6b4521dcb6b6f564",
                "e7b9d98b2f199deb"
            ]
        ]
    },
    {
        "id": "81aa3b01e9eb5886",
        "type": "ui_button",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "",
        "group": "a45010db781a9042",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "DESBLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "6b4521dcb6b6f564",
                "62d1f681c343c1cb",
                "e7b9d98b2f199deb"
            ]
        ]
    },
    {
        "id": "e348fb458240c771",
        "type": "ui_toast",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "e7b9d98b2f199deb",
        "type": "function",
        "z": "2582f6e27304127c",
        "g": "4ce7be26c8572605",
        "name": "notificacão Bloqueio/Desbloqueio",
        "func": "if (msg.payload == \"ON\"){\n    msg.payload = \"COFRE DESBLOQUEADO\"\n} else {\n    msg.payload = \"COFRE BLOQUEADO\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "e348fb458240c771",
                "6b4521dcb6b6f564"
            ]
        ]
    },
    {
        "id": "9b5c47fa3a33329e",
        "type": "ui_toast",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "9e8067e801227664",
        "type": "function",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "notificacão senha",
        "func": "if (msg.payload && msg.payload.novaSenha != null){\n    msg.payload = \"Senha Alterada\"\n} else {\n    msg.payload = \"A senha não pode ser vazia\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 640,
        "wires": [
            [
                "9b5c47fa3a33329e",
                "2bd4f44bd4884b60"
            ]
        ]
    },
    {
        "id": "8e0b592512cc1bbe",
        "type": "ui_table",
        "z": "2582f6e27304127c",
        "g": "ac649aa3d069596b",
        "group": "ed5f5d0cc20c9c48",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "95a4bbb201d44b6f",
        "type": "function",
        "z": "2582f6e27304127c",
        "g": "aa510fc7a207367f",
        "name": "verifica senha",
        "func": "if (msg.payload.novaSenha == null) {\n    msg.payload.novaSenha = \"0\"\n} else {\n    msg.payload = msg.payload.novaSenha\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "84681ae2ae5c3e71",
                "2bd4f44bd4884b60"
            ]
        ]
    },
    {
        "id": "2a4765f07d466fd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fee1a7361766ef33",
        "type": "ui_group",
        "name": "Definir nova senha",
        "tab": "feae15c3531b11d1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a45010db781a9042",
        "type": "ui_group",
        "name": "Bloquear/Desbloquear Cofre",
        "tab": "feae15c3531b11d1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed5f5d0cc20c9c48",
        "type": "ui_group",
        "name": "Historico",
        "tab": "feae15c3531b11d1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feae15c3531b11d1",
        "type": "ui_tab",
        "name": "Cofre Painel de Controle",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
