nodered.json
[
    {
        "id": "8a3d2c730581dcb2",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e0e627d8dc72893d",
        "type": "group",
        "z": "8a3d2c730581dcb2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a318ee7766dd64bd",
            "cc8266228fb2f6c4",
            "096e9da3d2dd87db",
            "0963fbe39468df8a",
            "ea39c27bcc750e73"
        ],
        "x": 34,
        "y": 19,
        "w": 652,
        "h": 182
    },
    {
        "id": "32f33f0f178ba50c",
        "type": "group",
        "z": "8a3d2c730581dcb2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "77d36d19e10ec4ce",
            "cc10806ecf5ae135",
            "2b0ff8cb139c194c",
            "ff1cc4836ce9908c",
            "a5ede6e01bf15688",
            "5f42fc97ca512200",
            "87a57b72faa8d41e"
        ],
        "x": 34,
        "y": 239,
        "w": 852,
        "h": 222
    },
    {
        "id": "5fd49f6c19799bb3",
        "type": "group",
        "z": "8a3d2c730581dcb2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "739c73734f131472",
            "0839dba3ba81b2a0",
            "2cbb0f11dbbfba6a",
            "fd203aeb686e9c38",
            "422aee76a0c8e04a",
            "a084435aaea6a3ad"
        ],
        "x": 34,
        "y": 499,
        "w": 732,
        "h": 182
    },
    {
        "id": "77d36d19e10ec4ce",
        "type": "mqtt out",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "",
        "topic": "cofre/acesso",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "cc10806ecf5ae135",
        "type": "debug",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "a318ee7766dd64bd",
        "type": "mqtt in",
        "z": "8a3d2c730581dcb2",
        "g": "e0e627d8dc72893d",
        "name": "",
        "topic": "cofre/historico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2a4765f07d466fd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "096e9da3d2dd87db"
            ]
        ]
    },
    {
        "id": "096e9da3d2dd87db",
        "type": "function",
        "z": "8a3d2c730581dcb2",
        "g": "e0e627d8dc72893d",
        "name": "formatação historico",
        "func": "if (!flow.get('historico')) {\n    flow.set('historico', []);\n}\n\nif (msg.payload == \"Acesso Negado\") {\n    msg.payload = {\n        \"Acesso\": \"Acesso Negado\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n} else {\n    msg.payload = {\n        \"Acesso\": \"Acesso Concedido\",\n        \"Horario de Acesso\": new Date().toLocaleString(),\n    };\n}\n\nvar historico = flow.get('historico');\nhistorico.push(msg.payload);\nflow.set('historico', historico);\n\nreturn { payload: historico };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "0963fbe39468df8a",
                "cc8266228fb2f6c4"
            ]
        ]
    },
    {
        "id": "0963fbe39468df8a",
        "type": "debug",
        "z": "8a3d2c730581dcb2",
        "g": "e0e627d8dc72893d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "0839dba3ba81b2a0",
        "type": "mqtt out",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "name": "",
        "topic": "cofre/senha",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2a4765f07d466fd0",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "739c73734f131472",
        "type": "ui_form",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "name": "",
        "label": "",
        "group": "fee1a7361766ef33",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Definir nova senha",
                "value": "novaSenha",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "novaSenha": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "0839dba3ba81b2a0",
                "2cbb0f11dbbfba6a",
                "a084435aaea6a3ad"
            ]
        ],
        "info": "oiiiiiiiiiiiiiii"
    },
    {
        "id": "2cbb0f11dbbfba6a",
        "type": "debug",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "fd203aeb686e9c38",
        "type": "comment",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "name": "Grupo Nova senha",
        "info": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "2b0ff8cb139c194c",
        "type": "comment",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "Grupo Bloqueio Desbloqueio",
        "info": "",
        "x": 180,
        "y": 420,
        "wires": []
    },
    {
        "id": "ea39c27bcc750e73",
        "type": "comment",
        "z": "8a3d2c730581dcb2",
        "g": "e0e627d8dc72893d",
        "name": "Grupo Historico",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc8266228fb2f6c4",
        "type": "ui_table",
        "z": "8a3d2c730581dcb2",
        "g": "e0e627d8dc72893d",
        "group": "ed5f5d0cc20c9c48",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff1cc4836ce9908c",
        "type": "ui_button",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "",
        "group": "a45010db781a9042",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "BLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "77d36d19e10ec4ce",
                "cc10806ecf5ae135",
                "87a57b72faa8d41e"
            ]
        ]
    },
    {
        "id": "a5ede6e01bf15688",
        "type": "ui_button",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "",
        "group": "a45010db781a9042",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "DESBLOQUEAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "ON",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "cc10806ecf5ae135",
                "77d36d19e10ec4ce",
                "87a57b72faa8d41e"
            ]
        ]
    },
    {
        "id": "5f42fc97ca512200",
        "type": "ui_toast",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "87a57b72faa8d41e",
        "type": "function",
        "z": "8a3d2c730581dcb2",
        "g": "32f33f0f178ba50c",
        "name": "notificacão Bloqueio/Desbloqueio",
        "func": "if (msg.payload == \"ON\"){\n    msg.payload = \"COFRE DESBLOQUEADO\"\n} else {\n    msg.payload = \"COFRE BLOQUEADO\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "5f42fc97ca512200",
                "cc10806ecf5ae135"
            ]
        ]
    },
    {
        "id": "422aee76a0c8e04a",
        "type": "ui_toast",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 640,
        "wires": []
    },
    {
        "id": "a084435aaea6a3ad",
        "type": "function",
        "z": "8a3d2c730581dcb2",
        "g": "5fd49f6c19799bb3",
        "name": "notificacão senha",
        "func": "if (msg.payload){\n    msg.payload = \"Senha Alterada\"\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "422aee76a0c8e04a"
            ]
        ]
    },
    {
        "id": "2a4765f07d466fd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fee1a7361766ef33",
        "type": "ui_group",
        "name": "Definir nova senha",
        "tab": "feae15c3531b11d1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed5f5d0cc20c9c48",
        "type": "ui_group",
        "name": "Historico",
        "tab": "feae15c3531b11d1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a45010db781a9042",
        "type": "ui_group",
        "name": "Bloquear/Desbloquear Cofre",
        "tab": "feae15c3531b11d1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "feae15c3531b11d1",
        "type": "ui_tab",
        "name": "Cofre Painel de Controle",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
